.main_mob {
    display: table;
    width: 100%;
    background-color: white;
    height: 600px;
    padding: 2% 0 2%;
}

.main_mob_text {
    display: table-cell;
    vertical-align: top;
    text-align: justify;
    color: black;

}

.main_mob_text h1 {
    text-align: center;
    padding: 0 0 20px;
}

.main_mob_text p {
    padding: 15px 0 0;
}

.main {
    display: table;
    width: 100%;
    background-color: #cdf1fe;
    height: 400px;
    padding: 1.5% 0 1.5%;
}

.main h1 {
    text-align: center;
    padding: 0 0 30px;
}

.main_title {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    padding: 5%;

}

.main_text {
    text-align: center;
}
